@import "fit.css";
@import "box.css";
@import "text.css";


.container{
    display:grid;
    grid-template-columns: 3fr 1fr 1fr ;
    grid-template-rows: 50px auto auto 50px;
  }
  /* add css for nested grid here */

.logo {
     grid-column: 1 / 2;
     grid-row : 1 / 1; 
     background-color: #ddd;
    }
.contact{
        grid-column: 2 / 3;
        grid-row : 1/1;
        background-color: #ddd;     
    }
.register{
        grid-column: 3 / -1;
        grid-row : 1 / 1  ;
        background-color: #ddd;  
    }
   

.title{
       grid-column:1/-1;
       grid-row: 2/2;
   }
.places{
       grid-column: 1/-1;
       grid-row: 3/-1;
       padding: 30px
       
   }
.wrap { display:grid;
        grid-template-columns: repeat(4 fr) ;
        grid-template-rows: repeat(2 fr);
        grid-gap:25px;}



.one { grid-column: 1 / 1;
      grid-row : 1 / 1;  }
.two { grid-column: 2 / 2;
        grid-row : 1 / 1; }
.three { grid-column: 3 /3 ;
        grid-row : 1 / 1;}
.four { grid-column: 4 / 4;
        grid-row : 1 / 1;}
.five { grid-column: 1 / 1;
        grid-row : 2 / 2;}
.six { grid-column: 2 / 2;
        grid-row : 2 / 2;}
.seven { grid-column: 3 / 3;
        grid-row : 2 / 2; }
.eight { grid-column: 4 / 4;
        grid-row : 2 / 2;}  

.footer { 
        grid-column: 1 /-1;
        grid-row : 4 / 4;
        padding: 10px;
        display: flex;
          gap: 30px;
          flex-flow: row wrap;
          justify-content: flex-end;
          align-items: center;
        }
   
  
  /* If Screen Is Wide Enough */

  @media all and (max-width: 500px)
  {
        .container{
                display:grid;
                grid-template-columns:  1fr 1fr ;
                grid-template-rows: 50px 50px auto auto 50px;
              }
              /* add css for nested grid here */
            
         .logo {
                 grid-column: 1 / -1;
                 grid-row : 1 / 1; 
                 background-color: #ddd;
                }
        .contact{
                    grid-column: 1 / 2;
                    grid-row : 2/2;
                    background-color: #ddd;     
                }
            .register{
                    grid-column: 2 / -1;
                    grid-row : 2 / 2  ;
                    background-color: #ddd;  
                }
               
            
            .title{
                   grid-column:1/-1;
                   grid-row: 3/3;
               }
            .places{
                   grid-column: 1/-1;
                   grid-row: 4/-1;
                   padding: 30px
                   
               }
            .wrap { display:grid;
                    grid-template-columns: repeat(2 fr) ;
                    grid-template-rows: repeat(4 fr);
                    grid-gap:25px;}
            
            
            .one { grid-column: 1 / 1;
                  grid-row : 1 / 1;  }
            .two { grid-column: 2 / 2;
                    grid-row : 1 / 1; }
            .three { grid-column: 1 /1 ;
                    grid-row : 2 / 2;}
            .four { grid-column: 2 / 2;
                    grid-row : 2 / 2;}
            .five { grid-column: 1 / 1;
                    grid-row : 3 / 3;}
            .six { grid-column: 2 / 2;
                    grid-row : 3 / 3;}
            .seven { grid-column: 1 / 1;
                    grid-row : 4 / 4; }
            .eight { grid-column: 2 / 2;
                    grid-row : 4 / 4;}  
        .footer 
                { 
                grid-column: 1 /-1;
                grid-row : 5 / 5;
                padding: 10px;
                display: flex;
                gap: 30px;
                flex-flow: row wrap;
                justify-content: flex-end;
                align-items: center;
                }
 }